/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f3ee;
}

/* Navigation */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.nav-links {
    padding-right: 50px;
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: #463f3a;
    position: relative;
}

/* Links animation */
a.nav-links:hover {
    color: #8a817c;
}

a.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #463f3a;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a.nav-link:hover::before {
    transform: scaleX(1);
}

.logo {
    padding-left: 50px;
    font-size: 2rem;
    font-weight: 600;
    color: #463f3a;
}

.logo:hover {
    cursor: default;
}

/* Hamburger Navigation */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-right: 50px;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #463f3a;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    margin-right: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f4f3ee;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
    color: #463f3a;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* Hero Section */
section {
    color: #463f3a;
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile section */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    color: #8a817c;
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.section__text__p2 {
    color: #8a817c;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

/* Icons */
.icon {
    cursor: pointer;
    height: 3rem;
}

/* Buttons */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn {
    font-weight: 600;
    font-size: 17px;
    color: #463f3a;
    transition: all 0.3s ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: 0.1rem solid #463f3a;
}

.btn-color-1:hover, .btn-color-2:hover {
    background-color: #463f3a;
    color: #f4f3ee;
    cursor: pointer;
}

.socials-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

/* About Section */
#about {
    position: relative;
}

.about-containers {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-pic {
    height: 450px;
    border-radius: 10%;
    object-fit: cover;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: #eeede8;
    border-radius: 2rem;
    border: 0.1rem;
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
    align-items: center;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}
